body{
    background: rgb(180, 247, 238);
}

#pacmanBoard{
    background: white;
    margin: auto;
    width: fit-content;
    box-shadow: 0px 0px 10px 5px yellow;
    margin-top: 20px;
    border-radius: 35px;
    padding: 10px;
}

#score{
    background: white;
    width: fit-content;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 5px yellow;
}

.inputs {
    display: inline;
    margin: auto;

}

#pacGame > h1 {
    font-size: 50px;
    color: rgb(179, 167, 167);
    text-align: center;
    line-height: 10px;
    text-shadow: 1px 2px 2px yellow;
}

#endGame{
    position: center;
    box-shadow: 0px 0px 10px 15px yellow;
    text-align: center;
    margin: auto;
    padding: 20px;
    width: fit-content;
}
